In [1]:
#https://datahub.io/cryptocurrency/bitcoin#data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("datahub.csv")
df = df.replace(',','', regex=True)
df = df.sort_index(ascending=False)

In [5]:
df

,date,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees,activeAddresses,averageDifficulty,paymentCount,medianTxValue(USD),medianFee,blockSize,blockCount
3604,2018-11-22,2.759416e+09,1.711484e+09,265994,8.019071e+10,4611.57,4.569370e+09,1525.0,39.134218,656428,6.653303e+12,364559.0,104.883242,0.000076,148651548,122
3603,2018-11-21,3.406311e+09,2.220358e+09,254837,7.764452e+10,4465.54,6.120120e+09,1312.5,49.950160,628177,6.653303e+12,367256.0,161.673715,0.000101,127422353,105
3602,2018-11-20,5.838062e+09,3.944652e+09,288318,8.456520e+10,4863.93,8.428290e+09,1650.0,69.367650,768696,6.653303e+12,423180.0,260.945272,0.000117,158893720,132
3601,2018-11-19,4.480410e+09,2.620049e+09,267845,9.771459e+10,5620.78,7.039560e+09,1575.0,39.969486,674503,6.653303e+12,361918.0,151.592437,0.000076,138689706,126
3600,2018-11-18,1.976557e+09,1.304067e+09,239680,9.664468e+10,5559.74,4.159680e+09,1537.5,18.037467,549212,6.653303e+12,301260.0,78.226098,0.000031,117375788,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2009-01-13,NaN,NaN,0,NaN,NaN,NaN,6150.0,0.000000,123,1.000000e+00,NaN,NaN,NaN,26527,123
3,2009-01-12,NaN,NaN,7,NaN,NaN,NaN,4700.0,0.000000,102,1.000000e+00,5.0,NaN,0.000000,22031,94
2,2009-01-11,NaN,NaN,0,NaN,NaN,NaN,4650.0,0.000000,93,1.000000e+00,NaN,NaN,NaN,20033,93
1,2009-01-10,NaN,NaN,0,NaN,NaN,NaN,3050.0,0.000000,61,1.000000e+00,NaN,NaN,NaN,13129,61
0,2009-01-09,NaN,NaN,0,NaN,NaN,NaN,700.0,0.000000,14,1.000000e+00,NaN,NaN,NaN,3010,14