In [58]:
#https://data.nasdaq.com/data/BCHAIN-blockchain
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gzip
import shutil
import glob
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options  # クロームドライバー
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver
import chromedriver_binary
import datetime
import os
from time import sleep

In [59]:
class GetCsv():
    def __init__(self):
        self.df_production = None
        self.email = "kikuchidaisuke.zr@gmail.com"
        self.password = "3153Zr0314"
        self.start_chrome_driver()
        
    def start_chrome_driver(self):
        self.driver = webdriver.Chrome()
        self.main_page ='https://data.nasdaq.com/data/BCHAIN-blockchain?page=1'
        self.driver.get("https://data.nasdaq.com/login")
        self.driver.find_element_by_xpath('//*[@data-test-text-field-id="email"]').find_element_by_xpath('label/input').send_keys(self.email)
        self.driver.find_element_by_xpath('//*[@data-test-text-field-id="password"]').find_element_by_xpath('label/input').send_keys(self.password)
        self.driver.find_element_by_xpath('//*[@data-test-progress-button="login"]').click()
        sleep(5)
        
        
    def wait_unitl_completing_download(self):
        csv_files = []
        while len(csv_files) == 0:
            csv_files = glob.glob(r"C:\Users\daisu\Downloads\BCHAIN*.csv")
            sleep(3)
        return csv_files[0]
    
    def concat_csv(self, csv):
        df = pd.read_csv(csv)
        file_name = csv.split('\\')[-1].split('.')[0]
        df = df.rename(columns={'Value': file_name})
        if self.df_production is None:
            self.df_production = df
        else:
            self.df_production = pd.merge(self.df_production, df, how="left", on=["Date"])
        
    def main(self):
        try:
            pages = [1,2,3,4]
            for page in pages:
                self.main_page = f"https://data.nasdaq.com/data/BCHAIN-blockchain?page={page}"
                self.driver.get(self.main_page)
                sleep(2)
                length = len(self.driver.find_elements_by_xpath('//a[@data-test-product-link="expand"]'))
                for index in range(length):
                    expand = self.driver.find_elements_by_xpath('//a[@data-test-product-link="expand"]')[index]
                    expand.click()
                    sleep(5)
                    self.driver.find_element_by_xpath('//*[text()= "Download"]').click()
                    csv_link = self.driver.find_element_by_xpath('//a[@data-test-dataset-download="csv"]')
                    link = csv_link.get_attribute("href")
                    self.driver.get(link)
                    csv_file = self.wait_unitl_completing_download()
                    self.concat_csv(csv_file)
                    os.remove(csv_file)
                    self.driver.get(self.main_page)
                    sleep(5)
                self.df_production.to_csv(f"nasdaq{page}.csv")
        except Exception as e:
            print(e)
        
        finally:
            self.driver.quit()
            self.df_production.to_csv('nasdaq.csv')

In [60]:
get_csv = GetCsv()
get_csv.main()

In [46]:
csv_files = glob.glob(r"C:\Users\daisu\Downloads\BCHAIN*.csv")
csv_files[0].split('\\')[-1].split('.')[0]

'BCHAIN-MKPRU'

In [45]:
get_csv.driver.find_element_by_xpath('//*[text()= "Download"]').click()

In [63]:
get_csv.df_production

,Date,BCHAIN-MKPRU,BCHAIN-TRVOU,BCHAIN-DIFF,BCHAIN-MWNUS,BCHAIN-AVBLS,BCHAIN-BLCHS,BCHAIN-ATRCT,BCHAIN-MIREV,BCHAIN-HRATE,...,BCHAIN-MWNTD,BCHAIN-MWTRV,BCHAIN-BCDDY,BCHAIN-BCDDM,BCHAIN-BCDDW,BCHAIN-BCDDE,BCHAIN-BCDDC,BCHAIN-TVTVR,BCHAIN-NETDF,BCHAIN-MIOPM
0,2021-10-21,66063.56,6.500925e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-10-20,64287.64,5.944569e+08,2.008246e+13,77814069.0,1.179139,370416.660376,7.141667,6.174249e+07,1.487474e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-10-19,61971.59,7.538423e+08,2.008246e+13,77781139.0,1.302748,370214.944950,8.050000,6.180473e+07,1.547372e+08,...,79361.0,15981.780818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-10-18,61546.21,2.710150e+08,1.991736e+13,77745372.0,1.212651,370035.149167,7.450000,5.817390e+07,1.465344e+08,...,75076.0,10878.617295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-10-17,60948.78,2.636285e+08,1.989305e+13,77719946.0,0.903351,369890.901353,4.658333,6.155580e+07,1.582222e+08,...,54659.0,28954.457289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4671,2009-01-06,0.00,0.000000e+00,0.000000e+00,2.0,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
4672,2009-01-05,0.00,0.000000e+00,0.000000e+00,2.0,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
4673,2009-01-04,0.00,0.000000e+00,0.000000e+00,2.0,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
4674,2009-01-03,0.00,0.000000e+00,0.000000e+00,2.0,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.147484e+09
4675,2009-01-02,0.00,0.000000e+00,1.000000e+00,2.0,0.000272,0.000000,NaN,0.000000e+00,NaN,...,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df = pd.read_csv(csv_files[0])
df2 = pd.read_csv(csv_files[0])
df

            Date     Value
0     2021-10-20  64287.64
1     2021-10-19  61971.59
2     2021-10-18  61546.21
3     2021-10-17  60948.78
4     2021-10-16  61641.17
...          ...       ...
4670  2009-01-06      0.00
4671  2009-01-05      0.00
4672  2009-01-04      0.00
4673  2009-01-03      0.00
4674  2009-01-02      0.00

[4675 rows x 2 columns]

In [52]:
pd.merge(get_csv.df_production, df, how="inner", on=["Date"])

,Date,C_x,C_y,C_x,C_y,C_x,C_y,C_x,C_y,test
0,2021-10-20,64287.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64287.64
1,2021-10-19,61971.59,NaN,NaN,NaN,NaN,370214.944950,8.050000,NaN,61971.59
2,2021-10-18,61546.21,NaN,NaN,NaN,NaN,370035.149167,7.450000,NaN,61546.21
3,2021-10-17,60948.78,NaN,NaN,NaN,NaN,369890.901353,4.658333,NaN,60948.78
4,2021-10-16,61641.17,NaN,NaN,NaN,NaN,369718.635147,9.500000,NaN,61641.17
...,...,...,...,...,...,...,...,...,...,...
4670,2009-01-06,0.00,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.00
4671,2009-01-05,0.00,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.00
4672,2009-01-04,0.00,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.00
4673,2009-01-03,0.00,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.00
4674,2009-01-02,0.00,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.00

In [51]:
df = df.rename(columns={'Value': 'test'})